@using System.Globalization
@using System.Text.Encodings.Web
@using System.Text.Json
@using Ecommerce.Entity.Common
@using Microsoft.AspNetCore.Html
@using Stripe.Terminal
@model Ecommerce.WebImpl.Pages.Shared.Order._OrderPartial
@{
    IHtmlContent OrderHeadingItem((string, string, int) v) => Html.Raw($""""
                                                                            <li class="list-group-item rounded-bottom-0 col-{v.Item3} d-inline-flex flex-column justify-content-between overflow-hidden">
                                                                                <p class="fs-6 h-50 fw-bold border-1 border-black {(v.Item1.Length == 0 ? "" : "border-bottom")}">{v.Item1}</p>
                                                                                <p class="fs-5 h-50">{v.Item2}</p>
                                                                            </li>
                                                                        """");
}
                <a class="hover-darken text-decoration-none text-black" style="cursor: @(Model.Collapsable?"pointer":"default")" data-bs-toggle="@(Model.Collapsable?"collapse":"")" data-bs-target="#Model.Order@(Model.Order.Id)-body" aria-controls="Model.Order@(Model.Order.Id)-body" aria-expanded="false">
                    <ul class="list-group-horizontal row">
                        @OrderHeadingItem(("", Model.Order.Id.ToString(),1))
                        @OrderHeadingItem(("", Model.Order.Date.ToString("g", CultureInfo.CurrentCulture),3))
                        @OrderHeadingItem(("", Model.Order.Status.ToLocalizedString(),2))
                        @OrderHeadingItem(("",Model.Order.ShippingAddress.ToString(),3))
                        @OrderHeadingItem(("",Model.Order.Aggregates.ItemCount?.ToString()??"0",1))
                        @{
                            var addressInputs =new List<InputModel>([
                            new(nameof(Orders.OrderId), "hidden", Model.Order.Id.ToString()),
                            new(string.Join('.', nameof(Orders.NewAddress), nameof(Address.Line1)), defaultValue: Model.Order.ShippingAddress.Line1, placeHolder: "Birinci Satır"),
                            new(string.Join('.', nameof(Orders.NewAddress), nameof(Address.Line2)), defaultValue: Model.Order.ShippingAddress.Line2, placeHolder: "İkinci Satır"),
                            new(string.Join('.', nameof(Orders.NewAddress), nameof(Address.District)), defaultValue: Model.Order.ShippingAddress.District, placeHolder: "İlçe"),
                            new(string.Join('.', nameof(Orders.NewAddress), nameof(Address.City)), defaultValue: Model.Order.ShippingAddress.City, placeHolder: "Şehir"),
                            new(string.Join('.', nameof(Orders.NewAddress), nameof(Address.Country)), defaultValue: Model.Order.ShippingAddress.Country, placeHolder: "Ülke"),
                            new(string.Join('.', nameof(Orders.NewAddress), nameof(Address.ZipCode)), defaultValue: Model.Order.ShippingAddress.ZipCode, placeHolder: "Posta Kodu")
                            ]);
                            if(Model.Token!=null)addressInputs.Add(new InputModel("token", "hidden", Model.Token));                                        
                        }
                        <div class="list-group-item d-inline-flex flex-column justify-content-center col-2 gap-2 text-center align-middle">
                                @if (Model.ViewedBySeller){
                                    if (Model.Order.Status == OrderStatus.WaitingConfirmation){
                                    <form hx-trigger="submit" hx-post="/Seller?handler=confirmOrder" hx-swap="innerHTML" hx-target="#popupResult">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="@nameof(Orders.OrderId)" value="@Model.Order.Id"/>
                                        <button type="submit" class="btn btn-success">
                                            Siparişi Onayla
                                        </button>                                        
                                    </form>
                                    }else if (Model.Order.Status == OrderStatus.WaitingShipment){
                                        <form hx-trigger="submit" hx-post="/Seller?handler=confirm" hx-swap="innerHTML" hx-target="#popupResult">
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="@nameof(Orders.OrderId)" value="@Model.Order.Id"/>
                                            <button type="submit" class="btn btn-success">
                                                Siparişi Onayla
                                            </button>                                        
                                        </form>
                                    }
                                }
                                else{
                                    var hasActions = (Model.Order.Status & (OrderStatus.WaitingConfirmation | OrderStatus.WaitingPayment | OrderStatus.WaitingShipment)) != 0 ||
                                                     (Model.Order.Status & (OrderStatus.Delivered | OrderStatus.Complete)) != 0;
                                    if (hasActions)
                                    {
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                İşlemler
                                            </button>
                                            <ul class="dropdown-menu">
                                                @if ((Model.Order.Status & (OrderStatus.WaitingConfirmation | OrderStatus.WaitingPayment | OrderStatus.WaitingShipment))!=0){
                                                    <li>
                                                        <form hx-trigger="submit" hx-post="/@(nameof(Orders))?handler=cancel" hx-swap="innerHTML" hx-target="#popupResult" class="m-0">
                                                            @if (Model.Token != null){
                                                                <input type="hidden" name="token" value="@Model.Token"/>
                                                            }
                                                            @Html.AntiForgeryToken()
                                                            <input type="hidden" name="@nameof(Orders.OrderId)" value="@Model.Order.Id"/>
                                                            <button type="submit" class="dropdown-item text-danger">
                                                                İptal Et
                                                            </button>
                                                        </form>
                                                    </li>
                                                    <li>
                                                        @await Html.PartialAsync("Shared/_PromptablePartial", new _PromptablePartial(){
                                                            DisplayText = "Teslimat Adresini Değiştir", Target = "#popupResult", Inputs = addressInputs.ToArray(),Url = Url.Page(nameof(Orders), "changeAddress"),Classes = "dropdown-item", FormClasses = "m-0",
                                                        })
                                                    </li>
                                                }
                                                @if (Model.Order.Status == OrderStatus.Delivered){
                                                    <li>
                                                        <form hx-trigger="submit" hx-post="/@nameof(Orders)?handler=complete" hx-swap="innerHTML" hx-target="#popupResult" class="m-0">
                                                            @Html.AntiForgeryToken()
                                                            @if (Model.Token != null){
                                                                <input type="hidden" name="token" value="@Model.Token"/>
                                                             }
                                                            <input type="hidden" name="@nameof(Orders.OrderId)" value="@Model.Order.Id"/>
                                                            <button type="submit" class="dropdown-item text-success">
                                                                Teslimatı Onayla
                                                            </button>
                                                        </form>
                                                    </li>
                                                }
                                                @if ((Model.Order.Status & (OrderStatus.Delivered | OrderStatus.Complete))!=0){
                                                    <li>
                                                        <form hx-trigger="submit" hx-post="/@nameof(Orders)?handler=refund" hx-swap="innerHTML" hx-target="#popupResult" class="m-0">
                                                            @Html.AntiForgeryToken()
                                                            @if (Model.Token != null){
                                                                <input type="hidden" name="token" value="@Model.Token"/>
                                                            }
                                                            <input type="hidden" name="@nameof(Orders.OrderId)" value="@Model.Order.Id"/>
                                                            <button type="submit" class="dropdown-item text-warning">
                                                                İade Et
                                                            </button>
                                                        </form>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                }
                        </div>
                    </ul>
                </a>
                @await Html.PartialAsync("Shared/Order/_OrderItemsPartial", new _OrderItemsPartial(){
                    IsCollapsable = Model.Collapsable, Order = Model.Order
                })
