@using Ecommerce.Bl.Interface
@using Ecommerce.Entity
@using Ecommerce.Entity.Projections
@inject EntityMapper EntityMapper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Ecommerce.WebImpl</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Ecommerce.WebImpl.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Ecommerce.WebImpl</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                    </li>
                    <!-- search -->
                    <li class="nav-item">
                        <form method="post" asp-page="/Index" asp-page-handler="Search">
                            <div class="input-group">
                                <button class="input-group-text" type="submit">Ara</button>
                                <input type="text" value="@null" name="Filters[@nameof(Product.Name)]" class="form-control" aria-label="Sizing example input"/>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Filtreler
                                </button>
                                <ul class="dropdown-menu" style="min-width: 300px; overflow-y: scroll; overflow-x: visible">
                                    @foreach (var colName in EntityMapper.ColumnNames(typeof(ProductWithAggregates), null, null, true) ){
                                        <li class="input-group">
                                            <span class="input-group-text">@colName</span>
                                            <select name="Operators[@colName]" class="form-control">
                                                <option value="@null" selected="@true">Seçiniz</option>
                                                @foreach (var op in Enum.GetNames(typeof(SearchPredicate.OperatorType))){
                                                    <option value="@op">@op</option>
                                                }
                                            </select>
                                            <input type="text" name="Filters[@colName]" class="form-control"/>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Sıralama
                                </button>
                                <ul class="dropdown-menu" style="min-width: 300px; overflow-y: scroll; overflow-x: visible">
                                    @foreach (var colName in EntityMapper.ColumnNames(typeof(ProductWithAggregates), null, null, true)){
                                        <li class="input-group">
                                            <span class="input-group-text">@colName</span>
                                            <select name="Orders[@colName]">
                                                <option value="@null" selected="@true">Seçiniz</option>
                                                <option value="@false">Artan</option>
                                                <option value="@true">Azalan</option>
                                            </select>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </form>
                    </li> 
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - Ecommerce.WebImpl - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>