@model _EmailAndPasswordPartial

<div class="emailPasswordPartial container-fluid p-3 border rounded-3 shadow-sm bg-light mb-3">
    <script>
        ((s)=>{
            const parent = s.parentElement;
            document.addEventListener('DOMContentLoaded', load);
            parent.addEventListener('htmx:load', load);
            function load (e){
                if(e.type === 'htmx:load'){
                    e.stopPropagation();
                }
                const emailInput = parent.querySelector('input[name="Email"]');
                const passwordInput = parent.querySelector('input[name="Password"]');
                const oldPasswordInput = parent.querySelector('input[name="OldPassword"]');
                
                parent._email = '';
                parent._password = '';
                parent._oldPassword = '';
                
                if(emailInput) {
                    emailInput.addEventListener('input', (e)=>{
                        parent._email = emailInput.value;
                    });
                }
                
                if(passwordInput) {
                    passwordInput.addEventListener('input', (e)=>{
                        parent._password = passwordInput.value;
                    });
                }
                
                if(oldPasswordInput) {
                    oldPasswordInput.addEventListener('input', (e)=>{
                        parent._oldPassword = oldPasswordInput.value;
                    });
                }
            }
        })(document.currentScript)
        //# sourceURL=EmailAndPasswordPartial.js
    </script>
    
    <div class="text-start row g-3 pe-3">
        @if (Model.ShowEmail)
        {
            <div class="col-12">
                <div class="input-group gap-1">
                    <label class="fs-6 input-group-text fw-semibold bg-primary text-white border-0">E-posta:</label>
                    <input type="email" class="form-control border-2 rounded-end-3" name="Email" value="@Model.Email" placeholder="E-posta adresinizi girin" />
                </div>
            </div>
        }
        
        @if (Model.ShowOldPassword)
        {
            <div class="col-12">
                <div class="input-group gap-1">
                    <label class="fs-6 input-group-text fw-semibold bg-secondary text-white border-0">Mevcut Şifre:</label>
                    <input type="password" class="form-control border-2 rounded-end-3" name="OldPassword" value="@Model.OldPassword" placeholder="Mevcut şifrenizi girin" />
                </div>
            </div>
        }
        
        @if (Model.ShowPassword)
        {
            <div class="col-12">
                <div class="input-group gap-1">
                    <label class="fs-6 input-group-text fw-semibold bg-primary text-white border-0">@(Model.ShowOldPassword ? "Yeni Şifre:" : "Şifre:")</label>
                    <input type="password" class="form-control border-2 rounded-end-3" name="Password" value="@Model.Password" placeholder="@(Model.ShowOldPassword ? "Yeni şifrenizi girin" : "Şifrenizi girin")" />
                </div>
            </div>
        }
    </div>
</div>
