@using Ecommerce.Entity.Views
@model Ecommerce.WebImpl.Pages.Shared.Product._OfferListPartial
<ul class="list-group row flex-grow-0 overflow-auto">
    @{ var iii = 0; }
    @foreach (var offer in Model.Offers){
        var editable = Model.ViewingSellerId == offer.SellerId;
        @* if(iii!=0){<div class="separator"></div>} *@
        <li id="offer@(iii)" style="cursor: pointer;" onclick="event.currentTarget.parentElement.querySelector('.bg-light')?.classList?.remove('bg-light'); 
            event.currentTarget.classList.add('bg-light');document.getElementById('sellerIdInput').value = @(offer.SellerId);document.getElementById('sellerIdReviewInput').value = @(offer.SellerId);"
            class="hover-darken list-group-item d-flex">
            <ul class="list-unstyled row g-1 d-flex">
                <li class="col-4  justify-content-start overflow-x-hidden align-content-center">
                    <button asp-page="/Seller" asp-route-Id="@(offer.SellerId)" class="btn btn-secondary">
                        @(offer.Seller.ShopName)
                    </button>
                </li>
                <li class="col-3  align-content-center">
                    <div class="row px-2 overflow-x-hidden">
                        <p id="stockValue@(offer.SellerId)" class="col-auto" style="font-size: small">@(offer.Stock)</p>
                        <p class="col-auto text-wrap" style="font-size: small; word-wrap: break-word">Ürün Stokta</p>
                    </div>
                </li>
                <li class="col-3 align-content-center">
                    <partial name="Shared/_ReviewStarPartial" model="new _ReviewStarPartial(){ Rating = offer.Stats.ReviewAverage.Value, RatingCount = (int?)offer.Stats.ReviewCount }"/>
                </li>
                @* @if (offer.Stats.RefundCount > 0){ *@
                @*     <li class="col-3 align-content-center"> *@
                @*         <p class="mx-2" style="font-size: small">@(offer.Stats.RefundCount) Kere İade Edildi</p> *@
                @*     </li>    *@
                @* } *@
                <li class="col-2 align-content-center align-self-end">
                    @await Html.PartialAsync("Shared/_ItemPricePartial", new CartItemAggregates(){
                        BasePrice = offer.Price,
                        DiscountedPrice = offer.Price * offer.Discount,
                        ProductId = offer.ProductId,
                        SellerId = offer.SellerId,
                        TotalDiscountPercentage = offer.Price!=0?(offer.Price / (offer.Price * offer.Discount)):0,
                        CouponDiscountedPrice = offer.Price * offer.Discount,
                    })
                </li>
            </ul>
        </li>
        {
            iii++;
        }
    }
</ul>