@using Ecommerce.Entity
@model _CommentPartial

<div class="partial-parent comment-partial">
    <div class="d-flex w-100 justify-content-between">
        <div>
            <h5 class="mb-1 text-secondary fs-6">@(Model.CommentUserView.ReviewComment.User?.FullName?? (Model.CommentUserView.ReviewComment.Name ?? ""))</h5>
            @{var t = Utils.GetRelativeTime(Model.CommentUserView.ReviewComment.Created);}
            <small>@(t!=null?$"{t} Önce":"Şimdi")</small>
        </div>
        <p class="mb-1">@Model.CommentUserView.ReviewComment.Comment</p>
        <div>
            
        </div>
    </div>
    <div class="small d-flex container-fluid align-items-center justify-content-end">
        <div class="d-inline-flex gap-2">
            @if (Model.CommentUserView.ReviewComment.Stats.ReplyCount > 0){
                <span class="d-inline-flex align-items-center">
                    <button data-bs-placement="left" title="Cevapları Görüntüle" id="commentRepliesBtn@(Model.CommentUserView.ReviewComment.Id)" class="p-0 me-1 hover-grow text-dark btn-link border-0" style="background-color: inherit;" hx-trigger="click" hx-target="#commentReplies@(Model.CommentUserView.ReviewComment.Id)" hx-swap="innerHTML" hx-get="/@nameof(Reviews)?handler=comments&ParentId=@(Model.CommentUserView.ReviewComment.Id)&ReviewId=@(Model.CommentUserView.ReviewComment.ReviewId)&NestLevel=@(Model.NestLevel + 1)">
                        <i class="bi bi-chat-dots"></i>
                    </button> @Model.CommentUserView.ReviewComment.Stats.ReplyCount
                </span>   
            }
            <a data-bs-placement="right" title="Cevapla" class="p-0 text-decoration-none hover-grow" type="button" data-bs-toggle="collapse" data-bs-target="#replyComment@(Model.CommentUserView.ReviewComment.Id)" aria-expanded="false" aria-controls="replyComment@(Model.CommentUserView.ReviewComment.Id)">
                <i class="bg-light text-dark bi bi-reply hover-grow"></i>
            </a>
            <script>
                ((s)=>{
                    s.closest('.partial-parent').addEventListener('htmx:load', e => {
                        e.stopPropagation();
                        s.nextElementSibling.dispatchEvent(new Event('htmx:load', { bubbles: false }));
                    });
                })(document.currentScript)
            </script>
            @await Html.PartialAsync("Shared/Review/_VotePartial", new _VotePartial(){
                ReviewId = null,
                CommentId = Model.CommentUserView.ReviewComment.Id,
                Karma = Model.CommentUserView.ReviewComment.Stats?.Votes ?? 0,
                CurrentUserVote = Model.CommentUserView.CurrentUserVote
            })

        </div>
    </div>
    <div class="collapse mt-3" id="replyComment@(Model.CommentUserView.ReviewComment.Id)">
        <script>
            ((s)=>{
                document.addEventListener('DOMContentLoaded', load);
                s.closest('.partial-parent').addEventListener('htmx:load', load);
                function load(e){
                    s.nextElementSibling.addEventListener('htmx:afterRequest',e=>{
                        if(!e.detail.successful) return;
                        const btn = document.getElementById('commentRepliesBtn@(Model.CommentUserView.ReviewComment.Id)');
                        if(btn && !btn.disabled) {
                            btn.dispatchEvent(new Event('click', {cancelable:true, bubbles:true}));
                        }
                        s.parentElement.querySelector('a[aria-controls="replyComment@(Model.CommentUserView.ReviewComment.Id)"]').dispatchEvent(new Event('click', {cancelable:true, bubbles:true}))
                    });
                }
            })(document.currentScript)
            //# sourceURL=CommentPartialReload.js
        </script>
        <form class="card card-body" hx-post="/@(nameof(Reviews))?handler=comment" method="post" hx-target="#commentReplyResult@(Model.CommentUserView.ReviewComment.Id)" hx-swap="innerHTML">
            <input type="hidden" name="SentComment.ReviewId" value="@Model.CommentUserView.ReviewComment.ReviewId"/>
            <input type="hidden" name="@(nameof(Reviews.SentComment)).@nameof(ReviewComment.ParentId)" value="@Model.CommentUserView.ReviewComment.Id"/>
            <div class="row g-2">
                <div class="col-9 rounded-2 input-group mb-3">
                    <textarea class="small input-group-text form-control" style="font-size: unset" name="SentComment.Comment" placeholder="Cevaplayın"></textarea>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Gönder</button>
                </div>
            </div>
        </form>
        <div class="mt-3" hx-on::after-swap="setTimeout(()=>this.innerHTML='', 3000)" id="commentReplyResult@(Model.CommentUserView.ReviewComment.Id)"></div>
    </div>
    <div hx-on::after-swap="const b = document.getElementById('commentRepliesBtn@(Model.CommentUserView.ReviewComment.Id)');b.disabled=true;b.removeAttribute('hx-get');b.classList.remove('hover-grow');" id="commentReplies@(Model.CommentUserView.ReviewComment.Id)"></div>
</div>
